os:
  - linux
  - osx
language: generic
sudo: required
dist: trusty
osx_image: xcode8.2
env:
 - SWIFT_VERSION=3.0.2
install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./swiftlint.sh; fi
  - travis_retry eval "$(curl -sL https://gist.githubusercontent.com/kylef/5c0475ff02b7c7671d2a/raw/9f442512a46d7a2af7b850d65a7e9bd31edfb09b/swiftenv-install.sh)"
script:
  - rm -rf Packages .build
  - swift build
  - swift test
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then swiftlint; fi
notifications:
  email: false
